body
{
  font-family: 'Comfortaa', sans-serif;
  background-color: #F2F2F6;
  color: #000033;
}

h1
{
  font-family: 'Comfortaa-Bold', sans-serif;
}

h1 a
{
  color: #000033;
  font-size: 38px;
  text-decoration: none;
}

.header
{
  width: 800px;
  align: center;
  margin: 2px auto;
  padding: 2px;
  border-radius: 10px;
}

.content
{
  width: 800px;
  align: center;
  margin: 2px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #F9F9F9;
}

.content a
{
  color: #000033;
  text-decoration: none;
}

.content a:hover
{
  font-style: bold;
  text-decoration: underline;
}

.codehilite
{
  padding: 1px 10px;
  border-radius: 8px;
}

h2 a
{
  font-size: 28px;
}

