body
{
  font-family: 'Comfortaa', sans-serif;
  background-color: #F2F2F6;
  color: #000022;
}

h1
{
  font-family: 'Comfortaa-Bold', sans-serif;
}

a
{
  color: #333388;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

h1 a
{
  color: #222277;
  font-size: 38px;
}

h2 a
{
  font-size: 28px;
}

.header
{
  width: 800px;
  margin: 2px auto;
  padding: 2px;
  border-radius: 10px;
}

.content
{
  width: 800px;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #F9F9F9;
}

.codehilite
{
  padding: 1px 10px;
  border-radius: 8px;
}

