{% extends "base.html" %}
{% block content %}
    {% set lang = request.path.split("/")[1] %}
    {% if lang not in config['AVAILABLE_LANGUAGES'] %}
        {% set lang = config['DEFAULT_LANGUAGE'] %}
    {% endif %}
    <h2>Page Not Found</h2>
    <p>What you were looking for is just not there.</p>
    {{ request.endpoint }}
    <p>
        {% if lang == config['DEFAULT_LANGUAGE'] %}
            <a href="{{ url_for('index') }}">Return to the homepage</a>
        {% else %}
            <a href="{{ url_for('page', path=lang) }}">Return to the homepage</a>
        {% endif %}
    </p>
{% endblock %}
