{% set lang = request.path.split("/")[1] %}
{% if lang not in config['AVAILABLE_LANGUAGES'] %}
    {% set lang = config['DEFAULT_LANGUAGE'] %}
{% endif %}
{% set count = 0 %}
{% set pages_count = 0 %}
{% for page in pages %}
    {% set pages_count = pages_count+1 %}
    {% if page.title  %}
        {% if ( lang == config['DEFAULT_LANGUAGE'] and page.path[-3] != "-" ) or ( lang != config['DEFAULT_LANGUAGE'] and page.path[-2:] == lang ) %}
        <h2>
            {% if lang == config['DEFAULT_LANGUAGE'] %}
            <a href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a>
            {% else %}
            <a href="{{ url_for('page', lang=lang, path=page.path[:-3]) }}">{{ page.title }}</a>
            {% endif %}
        </h2>
        <p>{{ page.meta.summary }}</p>
        <p>Date: {{ page.meta.date }}</p>
            {% set category = page.meta.get('category', 'Misc') %}
        Categorized:
            {% if lang == config['DEFAULT_LANGUAGE'] %}
        <a href="{{ url_for("category", category=category) }}">{{ category }}</a>
            {% else %}
        <a href="{{ url_for("category", lang=lang, category=category) }}">{{ category }}</a>
            {% endif %}  
            {% if page.meta.tags|length %}
                {% set tags = page.meta.get('tags', []) %}
                {% set tag_count = 1 %}
        Tagged:
                {% include "_tags.html" %}
            {% endif %}
            {% set count = count+1 %}
        {% endif %}
    {% endif %}
    {% if pages_count == nb_pages and count == 0 %}
        <p>No data available.</p>
    {% endif %}
{% endfor %}
