    <nav class="sidebar">
        {% set lang = request.path.split("/")[1] %}
        {% if lang not in config['AVAILABLE_LANGUAGES'] %}
            {% set lang = config['DEFAULT_LANGUAGE'] %}
        {% endif %}
        <ul>
            <li class="blog">
                <h2>
                    {% if lang == config['DEFAULT_LANGUAGE'] %}
                    <a href="{{ url_for('index') }}">Blog</a>
                    {% else %}
                    <a href="{{ url_for('page', path=lang) }}">Blog</a>
                    {% endif %}
                </h2>
                {% if g.category %}
                <ul class="{{ g.category }}">
                {% else %}
                <ul class="DefaultCat">
                {% endif %}
            </li>
                {% for category in config['DISPLAYED_CATEGORIES'] %}
                <li class="{{ category }}">
                    <h3>
                        <a href="{{ url_for('category', category=category, lang=lang) }}">{{ category }}</a>
                    </h3>
                </li>
                {% endfor %}
            </ul>
            <li class="portfolio">
                <h2>
                    <a href="{{ url_for('page', lang=lang, path='portfolio') }}">Portfolio</a>
                </h2>
            </li>
        </ul>
    </nav>
