    {% extends "base.html" %}
    {% set lang = request.path.split("/")[1] %}
    {% if lang not in config['AVAILABLE_LANGUAGES'] %}
        {% set lang = config['DEFAULT_LANGUAGE'] %}
    {% endif %}
    {% block content %}
    {% if not g.location or g.location == config['DEFAULT_LOCATION'] %}
    <aside class="about">
        <ul>
            <li>{{ page.meta.date|strftime(lang=lang) }}</li>
            {% if not page.meta['author'] %}
                {% set author = config['DEFAULT_AUTHOR'] %}
            {% else %}
                {% set author = page.meta['author'] %}
            {% endif %}
            <li>By {{ author }}</li>
            {% set category = page.meta.get('category', 'Misc') %}
            <li>In
            {% if lang == config['DEFAULT_LANGUAGE'] %}
                <a href="{{ url_for("category", category=category) }}">{{ category }}</a>
            {% else %}
                <a href="{{ url_for("category", lang=lang, category=category) }}">{{ category }}</a>
            {% endif %}
            {% if page.meta.tags|length %}
                {% set tags = page.meta.get('tags', []) %}
                {% set tag_count = 1 %}
            <li>tags: 
                {% include "_tags.html" %}
            {% endif %}
            </li>
        </ul>
    </aside>
    {% endif %}
    <h2>
        {% if lang == config['DEFAULT_LANGUAGE'] %}
        <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
        {% else %}
        <a href="{{ url_for("page", lang=lang, path=page.path[:-3]) }}">{{ page.title }}</a>
        {% endif %}
    </h2>
    {{ page.html|safe }}
    {% endblock content %}
