    {% extends "base.html" %}
    {% set lang = request.path.split("/")[1] %}
    {% if lang not in config['AVAILABLE_LANGUAGES'] %}
        {% set lang = config['DEFAULT_LANGUAGE'] %}
    {% endif %}
    {% block content %}
    <h2>
        {% if lang == config['DEFAULT_LANGUAGE'] %}
        <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
        {% else %}
        <a href="{{ url_for("page", lang=lang, path=page.path[:-3]) }}">{{ page.title }}</a>
        {% endif %}
    </h2>
    {{ page.html|safe }}
    {% endblock content %}
